
  

  body, html {
    height: 100%;
}

header {
    background-color: rgb(233, 128, 219);
    
}

header a {
    color: yellow;
    text-decoration: none;
    font-size: 40px;
    margin-right: 20px;
    padding-left: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* The hero image */
.hero-image {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/sushieye.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
  }

  button {
      background-color:rgb(233, 128, 219);
      font-weight: bold;
      color: yellow;
      padding: 10px;
  }

  .image-grid {
    --gap: 16px;
    --num-cols: 3;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
}