body {
    background: #d6d6e6;
    max-width: 1000px;
  }



  .banner {
   background-image: url(./images/sushieye.jpg);
   background-position: center;
   height: 500px;
   
  }

  div h1, h5 {
      text-align: center;
      color: white;
  }